* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(98,124,176);
    background: linear-gradient(158deg, rgba(98,124,176,1) 35%, 
    rgba(23,209,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    display: flex;
    flex-direction: column;
    background-color: crimson;
    padding-bottom: 15px;
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}

#frame-outer {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    border: solid 25px crimson;
    border-top: solid 15px crimson;
    outline: solid 3px black;
    border-radius: 10px;
    height: 80vh;
    width: 20vw;
    min-height: fit-content;
    min-width: fit-content;
}
#frame-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: content-box;
    /* justify-content: center; */
    border-top: solid 10px #9d132f;
    border-bottom: inset 10px crimson;
    border-right: inset 10px #880C25;
    border-left: inset 10px crimson;
    margin: 0;
    padding: 0%;
    /* min-height: 600px;
    min-width: 600px; */
    background-color: white;
}

#wheels {
    display: flex;
    background-color: crimson;
    flex-direction: row;
    border: inset 5px crimson;
    border-right: solid 5px #880C25;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11vh;
    min-height: fit-content;
    padding: 10px;
    margin: 0;
}
#wheel-left, #wheel-right {
    background-color: white;
    border: inset 1px white;
    border-radius: 100%;
    height: 6vh;
    min-height: 70px;
    min-width: 70px;
}

#wheel-left:hover, #wheel-right:hover {
    background-color: rgba(255, 245, 245, 0.715);
    border: inset 1px lightgray;
}
.block {
    display: flex;
    flex: 1 1 0;
    /* width: 105%;
    height: 6%; */
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:stretch;
    margin: 0;
    border: 0;
    height: 100%;
}