* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(98,124,176);
    background: linear-gradient(158deg, rgba(98,124,176,1) 35%, 
    rgba(23,209,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: crimson;
    margin: 0;
}

#frame-outer {
    display: flex;
    flex-direction: column;
    border: solid 25px crimson;
    outline: solid 3px black;
    border-radius: 10px;
    margin: 25px;
    text-align: center;
    color: goldenrod;
    font-style: italic;
    text-decoration: underline;
    height: fit-content;
    width: fit-content;
}
#frame-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: content-box;
    justify-content: center;
    border-top: solid 10px #880C25;
    border-bottom: inset 10px crimson;
    border-right: inset 10px #880C25;
    border-left: inset 10px crimson;
    margin: 0;
    height: 400px;
    width: 400px;
    background-color: white;
}

#wheels {
    display: flex;
    background-color: crimson;
    flex-direction: row;
    border: inset 5px crimson;
    border-right: solid 5px #880C25;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 0;
}
#wheel-left, #wheel-right {
    background-color: white;
    border: inset 1px white;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

#wheel-left:hover, #wheel-right:hover {
    background-color: rgba(255, 245, 245, 0.715);
    border: inset 1px lightgray;
}
.block {
    display: flex;
    flex: 1 1 6%;
}